a {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
  opacity: 0.6;
  color: white;
}

.card {
    border: 1px solid white;
    border-radius: 15px;
    min-height: 150px;
    min-width: 300px;
    padding: 2em;
    display: flex;
}

.card-title {
    align-self: flex-end;
}