a {
    text-align: left;
    color: white !important;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: inherit !important;
}

a:hover {
  opacity: 0.6;
  color: white;
}

.game-card-img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100% !important;
}

.game-card {
    border-radius: 15px;
    display: flex;
    background-color: #242424 !important;
    color: white !important;
    border: 2px solid black !important;
}