.board-container {
    justify-content: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 60px;
    margin-top: 0;
    color: white !important;
}

h2, h3, h4, span, input, p.board-no-elements {
  color: white !important;
}

input[type="file"] {
  background-color: transparent;
}

.board {
  display: flex;
  justify-content: center;
  max-height: 700px;
  overflow-x: auto;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.board-no-limits {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.setup-game {
  padding: 3rem;
}

.game-hidden {
    display: none !important;
}

.span-slider {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px !important;
}

.slider {
  align-self: center;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #66bb6a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #66bb6a;
  cursor: pointer;
}

.category-container {
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}

.checkbox-wrapper {
    margin-bottom: 3px;
}

  .checkbox-wrapper .round {
    position: relative;
    display: flex;
  }

  .checkbox-wrapper .round span {
    margin-left: 15px;
    cursor: pointer;
    color: white;
  }

  .checkbox-wrapper .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
  }

  .checkbox-wrapper .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
  }

  .checkbox-wrapper .round input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
  }

  .checkbox-wrapper .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }

  .checkbox-wrapper .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }