.board-container {
    justify-content: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

.board {
    display: flex;
    justify-content: center;
    max-height: 500px;
    overflow-x: auto;
}

.board-no-limits {
    display: flex;
    justify-content: center;
}

/* .btn-create-board {
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    height: 80px;
    width: 160px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
}

.btn-create-board:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
} */

.game-hidden {
    display: none !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #66bb6a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #66bb6a;
  cursor: pointer;
}

.category-container {
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}

.checkbox-wrapper {
    margin-bottom: 3px;
}

  .checkbox-wrapper .round {
    position: relative;
    display: flex;
  }

  .checkbox-wrapper .round span {
    margin-left: 15px;
    cursor: pointer;
  }

  .checkbox-wrapper .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
  }

  .checkbox-wrapper .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
  }

  .checkbox-wrapper .round input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
  }

  .checkbox-wrapper .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }

  .checkbox-wrapper .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  color: black;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}